* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background-color: #E1E1DF;
}

.narkomfin-canvas-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.narkomfin-progress-label {
  color: #333;
}
